/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 45px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .h2 {
    --fs-1: 35px;
  }



  /**
   * HEADER
   */

  .header .logo {
    min-width: 160px;
  }



}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 55px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 750px;
  }





  /**
   * FOOTER
   */

  .footer-text {
    max-width: 400px;
  }

}





/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 65px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 950px;
  }

  .h2 {
    --fs-1: 40px;
  }

  .vector-line {
    display: block;
    position: absolute;
  }



  /**
   * HEADER
   */

  .header .logo {
    margin-right: 25px;
  }

  .menu-open-btn,
  .menu-close-btn,
  .navbar .logo {
    display: none;
  }

  .navbar {
    position: static;
    max-width: unset;
    height: unset;
    background: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-list {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-link {
    position: relative;
    font-size: var(--fs-5);
    padding: 20px 25px;
  }

  .navbar-link::after {
    --scale: 0;

    content: "";
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    background: var(--orange-web);
    width: 30px;
    height: 2px;
    border-radius: 2px;
    opacity: 0.5;
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus)::after {
    --scale: 1;
  }

  .overlay {
    display: none;
  }

}




/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1150px;
  }


}